{% extends "layouts/base.html" %}

{% block body %}


<script src="/static/vendor/html2canvas.min.js"></script>

<script type="text/javascript">
    window.INITIAL_DATA = {{ character | json_encode | safe }}
</script>

<button id="btn-save-image" style="position: absolute; top: 8px; right: 16px;">
    export as image
</button>

<main id="main-content" class="flex space-x-6" tabindex="-1">
    <section id="commit-history"></section>
    <div class="flex-1 flex justify-center">
        <section id="fields-wrapper" style="background-color: white; padding: 8px;"></section>
    </div>
</main>

<script src="/static/js/main.js?ts={{ now(timestamp=true) }}" type="module"></script>
{% endblock body %}
