{% extends "layouts/base.html" %}

{% block body %}
<script type="text/javascript">
    window.INITIAL_DATA = {{ character | json_encode | safe }}
</script>

<main class="flex space-x-6">
    <section class="commit flex-1">
        <form id="commit-form" class="space-y-3">
            <div class="flex flex-col space-y-2">
                <label class="label" for="commit-message">Commit message</label>
                <textarea class="input" id="commit-message" name="commit-message"></textarea>
            </div>
            <button id="commit-changes" class="input" type="submit">save changes</button>
        </form>
    </section>
    <section class="fields-wrapper"></section>
</main>

<script src="/static/js/main.js" type="module"></script>
{% endblock body %}