{% extends "layouts/base.html" %}

{% block title %}CharacterSheet{% endblock title %}

{% block body %}
<h1>
    It's a listing page!
</h1>

<form action="/" method="post">
    <button type="submut">Create New Character</button>
</form>


<ul>
    {% for x in character_list %}
        <li>
            <a href="/character/{{ x.id }}">
                {% if x.data.character_name %}
                    {{ x.data.character_name }}
                {% else %}
                    un-named
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>





{% endblock body %}

<pre>
    {{ character_list | json_encode(pretty=true) | safe }}
    </pre>