
/* Elements */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .875rem;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 12px;
}

input, textarea, button {
    padding: 4px 8px;
    font: inherit;
}

main {
    padding: 0 16px;
}


/* Utilities */

.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-1 {
    flex: 1;
}
.flex-0 {
    flex: 0;
}
.flex-shrink {
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.justify-start {
    justify-content: flex-start;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-between {
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}

.space-x-1 > *:not(:last-child) {
    margin-right: 2px;
}
.space-x-2 > *:not(:last-child) {
    margin-right: 4px;
}
.space-x-3 > *:not(:last-child) {
    margin-right: 8px;
}
.space-x-4 > *:not(:last-child) {
    margin-right: 16px;
}
.space-x-5 > *:not(:last-child) {
    margin-right: 24px;
}
.space-x-6 > *:not(:last-child) {
    margin-right: 32px;
}
.space-x-7 > *:not(:last-child) {
    margin-right: 40px;
}
.space-x-8 > *:not(:last-child) {
    margin-right: 48px;
}
.space-x-9 > *:not(:last-child) {
    margin-right: 56px;
}
.space-x-10 > *:not(:last-child) {
    margin-right: 64px;
}

.space-y-1 > *:not(:last-child) {
    margin-bottom: 2px;
}
.space-y-2 > *:not(:last-child) {
    margin-bottom: 4px;
}
.space-y-3 > *:not(:last-child) {
    margin-bottom: 8px;
}
.space-y-4 > *:not(:last-child) {
    margin-bottom: 16px;
}
.space-y-5 > *:not(:last-child) {
    margin-bottom: 24px;
}
.space-y-6 > *:not(:last-child) {
    margin-bottom: 32px;
}
.space-y-7 > *:not(:last-child) {
    margin-bottom: 40px;
}
.space-y-8 > *:not(:last-child) {
    margin-bottom: 48px;
}
.space-y-9 > *:not(:last-child) {
    margin-bottom: 56px;
}
.space-y-10 > *:not(:last-child) {
    margin-bottom: 64px;
}

/* Components */

.field-group {
    /* background-color: #e8eaec; */
    /* background-color: #a7ff78; */
    background-color: #fad400a1;
    /* background-color: #ff89c0ca; */
    padding: 12px;
    border-radius: 4px;
}

.input {
    font-size: .875rem;
    /* width: 128px; */
}
.input--w-1 {
    width: 56px;
}
.input--w-2 {
    width: 62px;
}
.input--w-3 {
    width: 72px;
}
.input--w-4 {
    width: 90px;
}
.input--w-5 {
    width: 108px;
}
.input--w-6 {
    width: 128px;
}

.input--bold {
    font-weight: 600;
}
.input--bold::placeholder {
    font-weight: 400;
}
.input--dirty {
    box-shadow: 0 0 0 4px #be56fa
}


.label {
    display: inline-block;
    font-size: .75rem;
}
.label--sm {
    font-size: .625rem;
}
.label--lg {
    font-size: .875rem;
}
.label--bold {
    font-weight: 600;
}

.textarea {
    width: 360px;
    resize: none;
    overflow-y: hidden;
}


.commit {
    max-width: 300px;
}