
/* Elements */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .875rem;
}

body {
    margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 12px;
}

input, textarea, button {
    padding: 4px 8px;
    font: inherit;
}

textarea {
    resize: none;
    width: 100%;
}

button {
    cursor: pointer;
}


/* Utilities */

.text-start {
    text-align: start;
}
.text-center {
    text-align: center;
}
.text-end {
    text-align: end;
}

.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-1 {
    flex: 1;
}
.flex-0 {
    flex: 0;
}
.flex-shrink {
    flex-basis: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.justify-start {
    justify-content: flex-start;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-between {
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}

.space-x-1 > *:not(:last-child) {
    margin-right: 2px;
}
.space-x-2 > *:not(:last-child) {
    margin-right: 4px;
}
.space-x-3 > *:not(:last-child) {
    margin-right: 8px;
}
.space-x-4 > *:not(:last-child) {
    margin-right: 16px;
}
.space-x-5 > *:not(:last-child) {
    margin-right: 24px;
}
.space-x-6 > *:not(:last-child) {
    margin-right: 32px;
}
.space-x-7 > *:not(:last-child) {
    margin-right: 40px;
}
.space-x-8 > *:not(:last-child) {
    margin-right: 48px;
}
.space-x-9 > *:not(:last-child) {
    margin-right: 56px;
}
.space-x-10 > *:not(:last-child) {
    margin-right: 64px;
}

.space-y-1 > *:not(:last-child) {
    margin-bottom: 2px;
}
.space-y-2 > *:not(:last-child) {
    margin-bottom: 4px;
}
.space-y-3 > *:not(:last-child) {
    margin-bottom: 8px;
}
.space-y-4 > *:not(:last-child) {
    margin-bottom: 16px;
}
.space-y-5 > *:not(:last-child) {
    margin-bottom: 24px;
}
.space-y-6 > *:not(:last-child) {
    margin-bottom: 32px;
}
.space-y-7 > *:not(:last-child) {
    margin-bottom: 40px;
}
.space-y-8 > *:not(:last-child) {
    margin-bottom: 48px;
}
.space-y-9 > *:not(:last-child) {
    margin-bottom: 56px;
}
.space-y-10 > *:not(:last-child) {
    margin-bottom: 64px;
}

/* Components */

.field-group {
    box-shadow: 2px 2px 8px #c4c4c4;
    background: linear-gradient(
        to right,
        rgba(202, 181, 155, 0.451),
        rgba(202, 181, 155, 0.402)
    );
    padding: 12px;
    border-radius: 4px;
}

.input {
    font-size: .875rem;
}
.input--w-1 {
    width: 56px;
}
.input--w-2 {
    width: 62px;
}
.input--w-3 {
    width: 72px;
}
.input--w-4 {
    width: 90px;
}
.input--w-5 {
    width: 108px;
}
.input--w-6 {
    width: 128px;
}

.input--bold {
    font-weight: 600;
}
.input--bold::placeholder {
    font-weight: 400;
}
.input--dirty {
    box-shadow: 0 0 0 4px #be56fa;
}


.label {
    display: inline-block;
    font-size: .75rem;
}
.label--sm {
    font-size: .625rem;
}
.label--lg {
    font-size: .875rem;
}
.label--bold {
    font-weight: 600;
}


.commit {
    max-width: 300px;
}

.md h1 {
    font-size: 1.5rem;
    margin: 16px 0;
}
.md h2 {
    font-size: 1.25rem;
    margin: 16px 0;
}
.md h3 {
    font-size: 1rem;
}
.md h4 {
    font-size: .875rem;
}
.md h5 {
    font-size: .75rem;
}

.md hr {
    border: none;
    border-bottom: 1px solid #888;
    margin: 24px 0;
}

.md td {
    padding-right: 16px;
}

.md th {
    text-align: start;
    padding-right: 16px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background-color: #5555;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.modal--visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    box-shadow: 2px 2px 12px #a5a5a5;
    border-radius: 4px;
    background-color: #ffffff;
    flex: 1;
    max-height: 80%;
    max-width: 400px;
    padding: 32px;
}

.drawer {
    position: sticky;
    background-color: whitesmoke;
    top: 0;
    left: 0;
    width: 60px;
    transition: all ease-in-out .1s;
}

.drawer-trigger {
    position: absolute;
    z-index: 100;
    top: 8px;
    right: 8px;
    padding: 8px;
    box-shadow: 0 0 8px 0 #ddd;
    background-color: transparent;
    border: 1px solid #aaa;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.drawer--expanded {
    width: 300px;
}

.drawer-content {
    position: sticky;
    top: 0;
    opacity: 0;
    padding: 16px 8px 8px 8px;
    z-index: 10;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: all ease-in-out .1s;
}

.drawer--expanded .drawer-content {
    opacity: 1;
}